body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #64743c; */
    background-image: url(../downloads/investeon.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    padding-top: 50px;
}

.card {
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-title {
    font-size: 24px;
    color: #64743c;
    font-weight: 600;
}

.form-group label {
    color: #64743c;
}

.btn-primary {
    background-color: #cdcf62;
    border: none;
    color: #64743c;
    font-weight: 600;
    font-size: 18px;
    border-radius: 40px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background-color: #eef074;
    transform: scale(1.05);
    color: #64743c;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #c9d090;
    border: none;
    color: #64743c;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.btn-secondary:hover {
    background-color: #b8be7e;
    transform: scale(1.05);
    color: #64743c;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-back {
    position: absolute;
    top: 10px;
    right: 10px;
}
